@import '../vars';

.Nav {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0 24px;
  place-items: center;
  border-bottom: 1px solid $--light-pink;
  background: $--white;
}
.menuNav {
  display: none;
}
.logoNav {
  width: 100px;
}
.navbarLeft {
  display: flex;
}
.navbarLeft ul {
  margin-left: 20px;
}
.navbarLeft ul,
.navbarRight ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.navbarLeft ul li a,
.navbarRight ul li a {
  text-decoration: none;
  color: $--light-pink;
  border: 1px solid $--white;
  border-radius: 12px;
  padding: 12px;
}
.navbarLeft ul li a:hover,
.navbarRight ul li a:hover {
  color: $--flag--green;
  border: 1px solid $--flag--green;
}
.navbarEmail {
  color: $--light-pink;
  font-size: $--sm;
  margin-right: 20px;
  cursor: pointer;
}
.navbarEmail img {
  transform: rotate(90deg);
  margin-left: 8px;
}
.navbarShoppingCart {
  position: relative;
}
.navbarShoppingCart div{
  width: 18px;
  height: 18px;
  color: $--light-pink;
  background-color: $--flag--green;
  border-radius: 50%;
  font-size: $--sm;
  font-weight: bold;
  position: absolute;
  top: -6px;
  right: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbarShoppingCart {
  cursor: pointer;
}
@media (max-width: 850px) {
  .menuNav {
        display: block;
        cursor: pointer;
  }
  .navbarLeft ul {
        display: none;
  }
  .navbarEmail {
        display: none;
  }
}