@import '../vars';

.menuDesk {
  width: 140px;
  height: auto;
  border: 1px solid $--light-pink;
  border-radius: 8px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 60px;
  right: 60px;
  background: $--white;
  z-index: 1;
}
.menuDesk ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.menuDesk ul li{
  text-align:  end;
}
.menuDesk ul li:not(:last-child){
  font-weight: bold;
}
.menuDesk ul li:last-child{
  padding-top: 20px;
  border-top:  1px solid $--light-pink;
  color: $--flag--green;
}
.menuDesk ul li:last-child a {
  color: $--flag--green;
  font-size: $--sm;
}
.menuDesk ul li a {
  color: $--black;
  text-decoration: none;
  display: inline-block;
  margin-bottom: 20px;
}